<table class="table table-bordered mx-auto text-center align-middle" style="max-width: 1100px;">
  <tbody class="border border-dark fs-5">
    <tr>
      <td scope="col" style="width: 200px;">Total</td>
      <% @game.game_players.each do |game_player| %>
        <td scope="col" style="width: 100px; text-align: center"><%= @player_totals[game_player.id] || 0 %></td>
      <% end %>
      <% if edit_page && @game.state == 'in_progress' %>
        <td scope="col" style="width: 70px;"></td>
      <% end %>
    </tr>
  </tbody>
</table>
