<table class="table table-striped table-bordered mx-auto text-center align-middle" style="max-width: 1100px;">
  <thead class="table-dark border border-white text-center align-middle">
    <tr>
      <th scope="col" style="width: 200px; font-size: 1.5em;">Rounds</th>
      <% @game.game_players.each do |game_player| %>
        <th scope="col" style="width: 100px;"><%= game_player.player.name %></th>
      <% end %>
      <% if edit_page && @game.state_in_progress? %>
        <th scope="col" style="width: 70px;"></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% Round.round_types.each do |round_type_key, round_type_value| %>
      <tr>
        <td class="border border-dark">
          <strong><%= round_type_value %></strong><br/>
          <span style="font-size: 0.8em;"><%= Round::ROUND_DESCRIPTION[round_type_key.to_sym] %></span>
        </td>
        <% @game.game_players.each do |game_player| %>
          <% round_played = game_player.rounds.any? { |round| round.round_type == round_type_key } %>
          <td class="border border-dark <%= 'bg-info' if round_played %>"></td>
        <% end %>
        <% if edit_page && @game.state_in_progress? %>
          <td class="border border-dark"></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
