<main class="container">
  <%= link_to sanitize("&larr; Back to player"), player_path(@player) %>

  <div class="header">
    <h1>Edit player</h1>
  </div>

  <%= render "form", player: @player %>
</main>
