<main class="container">
  <%= link_to sanitize("&larr; Back to players"), players_path %>

  <div class="header">
    <h1>Edit player</h1>
  </div>

  <%= turbo_frame_tag @player do %>
    <%= render "form", player: @player %>
  <% end %>
</main>
