<main class="container">
  <div class="header">
    <h1>Players</h1>
    <%= link_to "New player",
                new_player_path,
                class: "btn btn-primary" %>
  </div>

  <%= render @players %>
</main>
