<div class="card" style="width: 40rem;">
  <div class="card-body">
    <h2 class="card-title"><%= @player.name %></h2>
    <p class="card-text">Here will be extra data, when available.</p>
    <div class="btn-group">
      <%= link_to "Edit", edit_player_path(@player), class:"btn btn-primary" %>&nbsp;
      <%= link_to "Back to players", players_path, class: "btn btn-primary" %>&nbsp;
      <%= button_to "Destroy", @player, method: :delete, class:"btn btn-danger" %>
    </div>
  </div>
</div>

